# Ignore node_modules and yarn cache
node_modules
yarn-error.log
yarn.lock

# Ignore TypeScript build artifacts
/dist
/.build
/.vscode

# Ignore development files
*.log
*.test.ts
*.spec.ts

# Ignore version control files
.git
.gitignore

# Ignore Docker-related files
Dockerfile
docker-compose.yml
.dockerignore

# Ignore IDE and editor-specific files
.idea
.vscode
*.sublime-project
*.sublime-workspace

